html {
  background-color: black;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}

ul {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #FD00F4;
}

.btn {
  background-color: #FD00F4;
  padding: 16px;
  border-radius: 8px;
  color: black;
  border-color: #707070;
  position: absolute;
  bottom: 13rem;
  text-decoration: none;
}

img {
  position: static;
  width: 100%;
}

p {
  margin-left: 0
}

a {
  color: white;
}

dl {
  color: white;
}

label {
  color: white;
}

.btn-signup {
  position: absolute;
  bottom: 8rem;
  background-color: #FD00F4;
  padding: 16px;
  border-radius: 8px;
  color: black;
  border-color: #707070;
}

nav {
  position: relative;
}
