html {
  background-color: black;
  font-family: Lato, sans-serif;
}

h1 {
  color: #0062ff;
}

h2 {
  color: white;
  margin: 0;
}

h3 {
  color: white;
}

p {
  color: white;
  margin-left: 0;
}

ul {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fd00f4;
}

.banner-content {
  bottom: 1em;
  left: 1em;
}

.btn {
  background-color: #fd00f4;
  border-radius: 8px;
  color: black;
  border-color: #707070;
  text-decoration: none;
}

img {
  position: static;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

dl {
  color: white;
}

label {
  color: white;
}

.btn-signup {
  position: absolute;
  bottom: 9rem;
  background-color: #fd00f4;
  padding: 16px;
  border-radius: 8px;
  color: black;
  border-color: #707070;
}

nav {
  position: relative;
}

table {
  color: #fd00f4;
}

.footer {
  background-color: #0062ff;
  padding-right: 50rem;
  color: black;
  width: 100%;
}

.h2color {
  color: #bb02ff;
}

.purple {
  background-color: #72009b;
}

.box {
  border-width: 5px;
  background-color: #72009b;
}
