html {
  background-color: black;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: #0062FF;
}

h2 {
  color: white;
  margin: 0
}

h3 {
  color: white;
}

p {
  color: white;
}

ul {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #FD00F4;
}

.banner-content {
  bottom: 1em;
  left: 1em;
}
.btn {
  background-color: #FD00F4;
  padding: 16px;
  border-radius: 8px;
  color: black;
  border-color: #707070;
  /*position: absolute;
  bottom: 13rem;*/
  text-decoration: none;
}

img {
  position: static;
  width: 100%;
}

p {
  margin-left: 0
}

a {
  color: white;
}

dl {
  color: white;
}

label {
  color: #FD00F4;
}

.btn-signup {
  position: absolute;
  bottom: 9rem;
  background-color: #FD00F4;
  padding: 16px;
  border-radius: 8px;
  color: black;
  border-color: #707070;
}

nav {
  position: relative;
}

table {
  color: #FD00F4;
}

.footer {
  background-color: #0062FF;
  padding-right: 50rem;
  color: black;
  width: 100%;
}

.h2color {
  color: #BB02FF;
}

.purple {
  background-color: #72009B;
}

a {
  text-decoration: none;
}

.box {
  /* width: 100px;
  padding: 100px; */
  border-width: 5px;
  background-color: #72009B;
}
